<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TMProductMapper">
	
	<!-- ================================================================================================== -->
	<resultMap type="TMProduct" id="TMProductResultMap">
		<id column="UID" property="uid"/>
		<result column="NAME" property="name"/>
		<result column="PID" property="pid"/>
		<result column="CREATEDATE" property="createdate"/>
		<result column="REMARK" property="remark"/>
		<result column="PRICE" property="price"/>
		<result column="TBPRICE" property="tbprice"/>
		<result column="TROVE" property="trove"/>
		<result column="EVALUATECOUNT" property="evaluateCount"/>
		<result column="TRADECOUNT" property="tradeCount"/>
		<result column="POSTAGETOGGLECOUNT" property="postageToggleCount"/>
		<result column="ITEMRATES" property="itemRates"/>
		<result column="TRADECOUNTFORM" property="tradeCountForM"/>
		<result column="TRADECOUNTFORD" property="tradeCountForD"/>
		<result column="EMSTOCK" property="emStock"/>
		<result column="URL" property="url"/>
		<result column="YEAR" property="year"/>
		<result column="MONTH" property="month"/>
		<result column="DAY" property="day"/>
		<result column="HOUR" property="hour"/>
		<result column="MINUTES" property="minutes"/>
		<result column="SECOND" property="second"/>
	</resultMap>
	
	<insert id="saveItem" parameterType="TMProduct">
		insert into b_pro_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">uid,</if>
			<if test="name != null">name,</if>
			<if test="pid != null">pid,</if>
			<if test="createdate != null">createdate,</if>
			<if test="remark != null">remark,</if>
			<if test="price != null">price,</if>
			<if test="tbprice != null">tbprice,</if>
			<if test="trove != null">trove,</if>
			<if test="evaluateCount != null">evaluateCount,</if>
			<if test="tradeCount != null">tradeCount,</if>
			<if test="postageToggleCount != null">postageToggleCount,</if>
			<if test="itemRates != null">itemRates,</if>
			<if test="tradeCountForM != null">tradeCountForM,</if>
			<if test="tradeCountForD != null">tradeCountForD,</if>
			<if test="emStock != null">emStock,</if>
			<if test="url != null">url,</if>
			<if test="year != null">year,</if>
			<if test="month != null">month,</if>
			<if test="day != null">day,</if>
			<if test="hour != null">hour,</if>
			<if test="minutes != null">minutes,</if>
			<if test="second != null">second,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">#{uid},</if>
			<if test="name != null">#{name},</if>
			<if test="pid != null">#{pid},</if>
			<if test="createdate != null">#{createdate,jdbcType=TIMESTAMP},</if>
			<if test="remark != null">#{remark},</if>
			<if test="price != null">#{price},</if>
			<if test="tbprice != null">#{tbprice},</if>
			<if test="trove != null">#{trove},</if>
			<if test="evaluateCount != null">#{evaluateCount},</if>
			<if test="tradeCount != null">#{tradeCount},</if>
			<if test="postageToggleCount != null">#{postageToggleCount},</if>
			<if test="itemRates != null">#{itemRates},</if>
			<if test="tradeCountForM != null">#{tradeCountForM},</if>
			<if test="tradeCountForD != null">#{tradeCountForD},</if>
			<if test="emStock != null">#{emStock},</if>
			<if test="url != null">#{url},</if>
			<if test="year != null">#{year},</if>
			<if test="month != null">#{month},</if>
			<if test="day != null">#{day},</if>
			<if test="hour != null">#{hour},</if>
			<if test="minutes != null">#{minutes},</if>
			<if test="second != null">#{second},</if>
		</trim>
	</insert>
	
	<select id="queryAllProduct" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select d.day,sum(d.tradecountform) trcount from b_shop s,b_shop_item i,b_pro_detail d
		where s.UID = i.P_UID
			and i.UID = d.PID
			<if test="user_uid != null">
		  	and	s.user_uid = #{user_uid} 
			</if>
			<if test="uid != null">
		  	and	s.uid = #{uid} 
			</if>
			<if test="year != null">
		  	and	s.year = #{year} 
			</if>
			<if test="month != null">
		  	and	s.month = #{month} 
			</if>
			group by d.day
	</select>
	<!-- ================================================================================================== -->
	
</mapper>